
h2 {
  text-align: center;
  color: rgba(46, 122, 209, 0.6);
  padding: 5px 0;
}

.event-date {
  letter-spacing: 1.1px;
  margin-bottom: 10px;
  color: rgba(46, 122, 209, 0.6);
  display: flex;
  justify-content: space-between;
  
}

.icon-div{
 padding: 0 10px;
 display: flex;
 justify-content: space-between;
 width: 65px;
}

.icon{
  height: 24px;
  cursor: pointer;
}

.event-details h3{
  color: rgba(46, 122, 209, 0.6);
  margin-bottom: 10px;
}
